{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": ["last 5 versions", "safari >= 7", "not ie <= 8"]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        ["transform-runtime"]
    ]
}